on: push
name: Clippy check
permissions:
    checks: write
jobs:
    clippy:
        name: Clippy
        runs-on: ubuntu-latest
        container:
            image: alpine:latest
        steps:
            - name: Prepare the environment
              run: apk update; apk add alpine-sdk clang cmake pkgconf
            - uses: actions/checkout@v3
            - uses: dtolnay/rust-toolchain@stable
              with:
                  components: clippy
                  targets: x86_64-unknown-linux-musl
            - uses: auguwu/clippy-action@1.4.0
              with:
                  token: ${{secrets.GITHUB_TOKEN}}